<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../inside.css" />

    <title>The Mystery of The Haunted Library</title>
  </head>

  <body>
    <img src="../inside.png" alt="Inside The Library" usemap="#workmap" />

    <map name="workmap">
      <area
        shape="rect"
        coords="1160,309,1128,271"
        alt="Light"
        href="/hauntedlibrary/dark"
      />
      <area
        shape="rect"
        coords="1072,412,1296,579"
        alt="Computer"
        href="/hauntedlibrary/computer"
      />
      <area
        shape="rect"
        coords="110,170,265,599"
        alt="Books"
        href="/hauntedlibrary/books"
      />
      <area
        shape="rect"
        coords="411,675,568,776"
        alt="Ouija Board"
        href="/hauntedlibrary/ouija"
      />
      <area shape="rect" coords="616,708,842,802" alt="Go Back" href="/" />
    </map>

    <br />
    <br />
    <p>
      <a href="/hauntedlibrary/books"> - Books </a>
      <br />
      <a href="/hauntedlibrary/computer"> - Computer </a>
      <br />

      <a href="/hauntedlibrary/ouija"> - Ouija Board </a>
      <br />
      <a href="/hauntedlibrary/dark">- Light Switch </a>
      <br />
      <a href="/">- Go Back </a>
    </p>
  </body>
</html>
