<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Mystery of The Haunted Library </title>
<link rel="stylesheet" href="../incomputer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro">

</head>

<body>
<center>
<h2>Hello Gaia! Send an email.</h2>
</br>
<input type="text" name="email" placeholder="email" required="">
</br>
<input type="text" name="subject" placeholder="subject" required="">
</br>
<input type="text" name="content" placeholder="content" content="">
</br>
<input type="number" name="date" placeholder="date" required="" min="0" step="1">
</br>
<button>Save</button>
</center>

         <a href="/hauntedlibrary"><img src="../back.png" alt="back button" width="100" height="100"> </a>

</body>
</html>