<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Mystery of The Haunted Library </title>
<link rel="stylesheet" href="../incomputer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro">

</head>

<body>
<center>

<h2>Hello Gaia! Send an email.</h2>
</br>
<input type="text" id="email" name="email" placeholder="email" required>
</br>
<input type="text" id="subject" name="subject" placeholder="subject" required>
</br>
<input type="text" id="content" name="content" placeholder="content">
</br>
<input type="text" id="date" name="date" placeholder="date ('DD-MM-YYYY')" required>
</br>
<button onclick="saveEmail()">Save</button>

</br>
</br>
<p><%= output %></p>

</center>

</br>
</br>
</br>


         <a href="/hauntedlibrary"><img src="../pack.png" alt="back button" width="100" height="100"> </a>


</body>
</html>